<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro resto</title>
        <h2>Carta</h2>
</head>
<body>
    <side> <nav>
        <ul>
            <li>Entradas</li>
            <li>Platos principales</li>
            <li>Ensaladas</li>
            <li>Raws</li>
            <li>Postres</li>
            <li>Desayunos y
                Meriendas
            </li>
            <li>Bebidas</li>
            <li>Smoothies</li>
            <li>Té y café</li>
            <li>Vinos</li>
            <li>Carvezas</li>
          </ul> </nav>
    </side>
    <main>
    <section>
    <h3>Entradas </h3> <img src="/img/foto-entradas.jpg" alt=""> 
       <h4>Muzzarella Sticks</h4>
       <article>Bastones de muzzarella rebozados</article>
       <h4>Jalapeños rellenos</h4>
       <article>
        Jalapeños rellenos de langostinos 
        y queso Cheddar con panceta.
    </article>
       <h4>Ración de Rabas</h4>
       <article>
        220 gr. de chicharrón de calamar 
        frito con alioli
    </article>
       <h4>Ración de papas fritas con Cheddar y verdeo</h4>
       <h4>Chicken Wings</h4>
       <article>Alitas de pollo empanada y frita con salsa BBQ</article>
       <h4>Croquetas de hongos</h4>
       <article>Croquetas elaboradas a base de hongos disecados.</article>
       <h4>Langostinos en cous cous</h4>
       <article>Langostinos a la plancha con frutos secos, tomates cherry, albahaca y cous cous</article>
       <h4>Chipirones a la plancha</h4>
       <article>Con chutney de mango y sandía a la plancha</article>
       <h4>Nachos con refrito</h4>
       <article>Nachos salteados con porotos negros, chorizo colorado y salsa BBQ</article>
       <h4>Tapa de morcilla</h4>
       <article>Pan casero de campo, morcilla, verdeo y queso brie</article>
       <h4>Tapa de campo</h4>
       <article>Morcilla, papa, chutney de manzana y crema de eneldo</article>
       <h4>Tapa de mollejas</h4>
       <article>Mollejas con mango, ananá, jengibre, chiles y pochoclo.</article>
    </section>
<section>
       <h3>Platos principales </h3> <img src="/img/foto-ppal.jpg" alt="">
       <h4>Bife Criollo</h4>
       <article>Ojo de bife con patines andinos, ensalada de rúcula, provolone y salsa criolla</article>
       <h4>Ensalada Caesar</h4>
       <article>Con langostinos o con Pollo
        Clásica Caesar Salad con pollo grillado o langostinos</article>
       <h4>Penne Rigatte</h4>
       <article>Con salsa filete, crema o rosa.</article>
       <h4>Ensalada de langostinos</h4>
       <article>Langostinos salteados, trabajito, cebolla de verdeo y mango con dressing de naranja, vinagre y aceite de oliva.</article>
       <h4>Ceviche (elaborado en el momento)</h4>
       <article>Pesca del día del barrio chino con cebolla morada, ajo, rocoto, apio, cilantro, jengibre, maíz cancha, batata y leche de tigre.</article>
       <h4>Pesca con Chop Suey</h4>
       <article>Pesca del día a la plancha con olivas, ajo y alcaparras, acompañada de chop suey de vegetales.</article>
       <h4>Pesca a la plancha</h4>
       <article>Con risotto verde de espárragos y remolacha asada</article>
       <h4>Bife T-Bone</h4>
       <article>600 gas de carne corte T-Bone con chimichurri, patines andinos y encurtido de remolacha</article>
       <h4>Pechuguitas Ahumadas</h4>
       <article>Pechugas de pollo ahumadas, rellenas con duxelle de hongos y cebolla. Servido con arroz con mostaza y naranjas almendradas</article>
       <h4>Carré de cerdo</h4>
       <article>Con Chutney de zanahorias y batatas glaseadas con salsa teriyaki.</article>
       <h4>Sorrentinos verdes</h4>
       <article>Rellenos con calabaza asada y queso brie, perfumados con manteca de hierbas y jugo de pomelo.</article>
    </section>
<section>
       <h3>Postre </h3> <img src="/img/foto-postre.jpg" alt="">
       <h4>Flan Casero</h4>
       <p>Nuestro clásico flan con dulce de leche y crema.</p>
       <h4>Ensalada de frutas</h4>
       <h4>Fondue de chocolate</h4>
       <article>Con frutas frescas fileteadas.</article>
       <h4>Crocante de Banana y Nutella</h4>
       <h4>Degustación de Mousses</h4>
       <article>Mousse de mango, chocolate, moka y frutos rojos.</article>
       <h4>Cheesecake</h4>
    </section>       
    </main>
</body>
<footer>
    <img src="/img/logo-web.png" alt=""> <h5>Contactos</h5> 
    <h5>Facebook</h5> 
    <h5>Twitter</h5> 
    <h5>Instagram</h5> 
    
</footer>
</html>